{% extends 'base.html.twig' %}
{% block title %} "Adding new category..." {% endblock %}
{% block body %}
    <div id="wrapper">
        
			
			<h2>Dodaj kategorię</h2>
			{% if app.user %}
				{{ form_start(form) }}
					{{ form_start(form) }}
					{{ form_errors(form) }}

					{{ form_row(form.name) }}
										

			
			
					{# { form_row(form.submit, { 'label': 'Submit me' }) } #}
				
				{{ form_end(form) }}
			
			{% endif %}
			
			
        
    </div>
{% endblock %}

