{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        
			<h3>Wyniki wyszukiwania {{ r }}</h3>
			
			{% for post in posts %}
				<div class="col-md-12 ">
					<h1><a href="{{ path('post_show', {id: post.id}) }}">{{ post.title }}</a></h1>
					<p>{{ post.content }}</p>
					
					
					<p>Kategorie: {% if post.categories != null %}{{ post.categories.name}}{% endif %}</p>
				</div>
			{% endfor%}
			{{ knp_pagination_render(posts) }}
    </div>	
{% endblock %}