{% extends 'base.html.twig' %}
{% block title %} {{ post.title }}  {% endblock %}
{% block body %}
    <div id="wrapper">
        
			<h1>{{ post.title }}</h1>
			<p>{{ post.content }}</p>
			<h3>Kategorie</h3>
			{% if categories|length>0 %}
			{{ categories}}
			{% for category in post.categories %}<span>{{ category.name }}</span> {% endfor %}
			{% else %}
			<p>Brak kategorii</p>
			{% endif %}
			<span>Dodano: {{ post.created|date('H:i d/m/Y')}}</span>
			
			<h2>Komentarze</h2>
			{% if app.user %}
				{{ form_start(form) }}
					{{ form_widget(form) }}
					<button>Dodaj</button>
				{{ form_end(form) }}
			{% else %}
			<p>Komentarze tylko dla zalogowanych. <a href="{{ path('fos_user_security_login') }}">Login</a></p>
			{% endif %}
			{% for comment in post.comments %}<p>{{ comment.content }}</p>
				<span>Dodany: {{post.created|date('H:i d/m/Y')}}</span>
				{% if comment.user %} przez {{ comment.user }}{% endif %}
			{% endfor %}
        
    </div>
{% endblock %}

